/* iPad Air */
@media all and (max-width: 1000px) {
  .navigation {
    background-color: #f48519;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
    width: 100%;
    z-index: 10;
  }

  .navigation ul {
    list-style: none;
    cursor: pointer;
    float: right;
  }

  .header-wrapper {
    background-color: #f48519;
    height: 300px;
    width: 100%;
    position: absolute;
    margin: 0;
  }

  .logo {
    float: left;
    padding: 20px 46px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .top-wrapper h1 {
    color: #fff;
    text-align: center;
    font-family: "Noto Serif JP", sans-serif;
    font-size: 20px;
  }

  .top-content p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-align: left;
  }

  .content-wrapper {
    margin-top: 350px;
    padding-bottom: 600px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    height: 1500px;
    text-align: center;
  }

  .content {
    float: left;
    position: relative;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.966);
    margin: 1rem;
    box-shadow: 5px 15px 15px rgb(189, 186, 186);
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
  
  }
  /* batas header */
  main {
    margin-top: 350px;
  }
  /*Footer*/
  footer {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    bottom: 0;
  }
}

/* iPhone 12 Pro */
@media all and (max-width: 670px) {
  /*Footer*/
  footer {
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    bottom: 0;
  }

  .header-wrapper {
    background-color: #f48519;
    height: 300px;
    width: 100%;
    position: absolute;
    top: 90px;
  }

  .top-wrapper h1 {
    padding-top: 20px;
    color: #fff;
    text-align: center;
    font-family: "Noto Serif JP", sans-serif;
    font-size: 20px;
  }
  
  .content {
    float: left;
    position: relative;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.966);
    margin: 1rem;
    box-shadow: 5px 15px 15px rgb(189, 186, 186);
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
  
  }

  .top-content {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 65%;
    left: 73%;
  }
  
  .top-content p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
  }
  
  .navigation {
    position: fixed;
  }

  .logo {
    float: left;
    padding: 20px 46px;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
  }

  .navigation ul li {
    display: none;
  }

  .gudeg-img {
    position: relative;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
    width: 350px;
    text-align: -webkit-right;
  }

  .header-wrapper .fa {
    display: block;
    margin-right: 30px;
  }

  .top-content p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 12px;
    text-align: left;
    margin: 0;
  }

  .button-order {
    margin-top: 30px;
    padding: 10px 20px;
    color: #f48519;
    display: inline-block;
    opacity: 0.8;
    border-radius: 5px;
    background-color: white;
  }
  
  .list ul li{
		width: 40%;
		text-align: center;
		margin-bottom: 10px;
	}
}
