* {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.header-wrapper {
  background-color: #f48519;
  height: 300px;
  width: 100%;
  position: absolute;
  top: 90px;
}

.logo {
  float: left;
  padding: 20px 46px;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.navigation {
  background-color: #f48519;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  z-index: 10;
}

.navigation ul {
  list-style: none;
  cursor: pointer;
  float: right;
  margin-right: 70px;
}

.navigation ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  font-family: "Raleway", sans-serif;
  padding: 15px 15px;
}

.navigation ul li:hover {
  border-bottom: 3px solid #fff;
  transition: all 0.3s ease;
}

.top-wrapper {
  text-align: left;
  position: absolute;
  top: 30%;
  left: 72%;
  transform: translate(-50%, -50%);
  margin-bottom: 3000px;
}

.top-wrapper h1 {
  color: #fff;
  text-align: center;
  font-family: "Noto Serif JP", sans-serif;
  font-size: 30px;
}

.top-content {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 65%;
  left: 73%;
}

.top-content p {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: left;
  margin-top: 10px;
}

.gudeg-img {
  position: absolute;
  top: 50%;
  left: 22%;
  transform: translate(-50%, -50%);
  width: 500px;
  text-align: -webkit-right;
}

.gudeg-img img {
  width: 70%;
  border-radius: 15%;
}

.button-order {
  margin-top: 30px;
  padding: 15px 30px;
  color: #f48519;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  background-color: white;
}

/* batas header */
main {
  margin-top: 350px;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  cursor: pointer;
  margin-right: 40px;
  display: none;
}

.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  height: 500px;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
  text-transform: uppercase;
}

.content {
  float: left;
  position: relative;
  width: 27.8%;
  background-color: rgba(255, 255, 255, 0.966);
  margin: 1rem;
  box-shadow: 5px 15px 15px rgb(189, 186, 186);
  border-radius: 20px;
  padding: 1rem;
  text-align: center;

}

.content-icon {
  position: relative;
  background-color: rgba(255, 255, 255, 0.966);
  margin: 1rem;
  box-shadow: 5px 15px 15px rgb(189, 186, 186);
  border-radius: 20px;
  padding: 1rem;
  text-align: center;
}

.btn {
  position: relative;
  z-index: 1;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f48519;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border: 1px solid #ff9900;
  border-radius: 20px;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1rem;
}

h3 {
  color: orange;
  font-family: 'Times New Roman', Times, serif;
}

.span {
  color: seagreen;
}

span {
  color: #b3aeb5;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

#selengkapnya {
  display: none;
}

#selengkapnya2 {
  display: none;
}

#selengkapnya3 {
  display: none;
}

#selengkapnya4 {
  display: none;
}

#selengkapnya5 {
  display: none;
}